// Reseting code...
*{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}
ul{
    list-style: none;
    padding: 0;margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    width: 100%;
    max-width: 100%;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

// Start design part from here....
.wrapper{
    .main_wrapper{
        .students_list{
            .students_list_container{
                .student_list_table{
                    td{
                        img{
                            width: 55px;
                            height: 55px;
                            border-radius: 50%;
                            object-fit: cover;
                            border: 3px solid #fff;
                            cursor: pointer;
                        }

                        .actions{
                            button{
                                i{
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.modal_wrapper{
    #single_student_view{
        img{
            border: 8px solid #fff;
        }
    }
    #edit_modal{
        img{
            border: 8px solid #fff;
        }
    }
    #edit_student_form{
        img{
            border: 8px solid #fff;
        }
    }
}


